@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
    display: flex;
    background-color: #1FC8DB;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    color: white;
    opacity: 0.95;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
body, html {
    background-image: url(https://i.pinimg.com/736x/47/39/1a/47391a9f727dc5a7749ae8a372ba7054.jpg);
    background-size: cover;
    padding: 0;
    margin:  0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-animated {
    position: relative;
    width: 75vw;
    height: 70vh;
    background: #000000;
    border-radius: 20px;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
}
.text {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(90deg, #ADF6FC , #F4CFDF);
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    top: 40px;
   left: 30%;
   right: 30%;
    text-align: center;
    font-family: 'Righteous';
    -webkit-text-stroke: 1px rgb(0, 0, 0);
   }